@mixin large{
    @media(max-width: 975px){
        @content;
    }
}

@mixin medium {
    @media(max-width: 768px){
        @content;
    }
}

@mixin small {
    @media(max-width: 721px){
        @content;
    }
}

@mixin extraSmall {
    @media(max-width: 480px){
        @content;
    }
}

@mixin buttonStyle {
    border: 0;
    cursor: pointer;    
    font-family: $font-family;    
    font-weight: bold;
}
