$font-family: Microsoft JhengHei;

$containerWidth: 940px;
$footerWidth: $containerWidth - 160px;

$deepGreen: #3F5D45;
$lightGreen: #EAF0ED;
$yellow: #FFE180;
$darkGreen: #8DA291;

$borderstyle: 1px solid #EAF0ED;

$fontSize-XS: 14px;
$fontSize-S: 16px;
$fontSize-M: 18px;
$fontSize-L: 20px;
$fontSize-XL: 24px;

$lineHeight-XS: 22px;
$lineHeight-S: 24px;
$lineHeight-M: 26px;
$lineHeight-L: 28px;
$lineHeight-XL: 33px;

$iconSize: 36px;


/*
size 14 / 16 / 18 / 20 / 24
height  22 / 24 / 26 / 28 / 33
*/